# --- In requirements.txt ---

# Core AI and Data Handling
torch
numpy  # <-- REMOVE ==1.24.4
scipy
pandas==2.2.2

# Data Visualization
matplotlib

# PhysioNet Database Interaction
wfdb   # <-- REMOVE ==4.1.2

# Web Application
streamlit

scikit-learn

plotly

scipy

Pillow

torchvision

